* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Verdana;
  font-weight: 600;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
}

#content {
  background-color: rgb(200, 248, 241);
  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;
}

.board-container {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}

.board {
  align-self: center;
  height: 150px;
  width: 320px;
  background-color: rgb(119, 119, 119);
  border: solid 10px rgba(4, 133, 0, 0.568);
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: yellow;
}

.stick-container {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 7px solid rgb(104, 104, 104);
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.stick-back,
.stick-front {
  height: 10px;
  width: 15px;
  background-color: rgb(184, 184, 184);
  border-top: solid 4px grey;
}

.truck-container {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 400px 75px;
  grid-template-rows: 100px 100px 20px 90px;
  /* background-color: antiquewhite; */
}

.truck-front {
  grid-row: 2/3;
  background-color: #f4615d;
  border-top-right-radius: 75px;

  display: flex;
  justify-content: end;
  align-items: center;
}

.truck-lamp {
  width: 30px;
  height: 20px;
  background-color: orange;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.truck-body {
  grid-row: 1/3;
  background-color: #f4615d;
  border-top-left-radius: 25px;
  border-top-right-radius: 55px;
  border-left: solid 15px #f85752;
}

.truck-chassis {
  grid-column: 1/3;
  grid-row: 3/4;
  width: 100%;
  background-color: rgb(173, 173, 173);
  border-radius: 10px;
  border-bottom: solid 8px grey;
  transform: scale(1.05);
}

.truck-tire-back {
  grid-row: 4/5;
  grid-column: 1/2;
  transform: translate(35px, -50px);
}

.truck-tire-front {
  grid-row: 4/5;
  grid-column: 2/3;
  transform: translate(-55px, -50px);
}

.truck-tire-front,
.truck-tire-back {
  width: 90px;
  background-color: rgb(218, 218, 218);
  border: solid 25px rgb(90, 86, 86);
  border-radius: 50%;
}

.truck-windows {
  /* background-color: yellowgreen; */
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 25px;
  padding: 25px;
  justify-content: center;
}

.window-large {
  height: 120px;
  background-color: #414356;
  border-right: solid 7px #f4615d;
  border-left: solid 7px #f4615d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 7px 0px #c5c5c5;

  display: flex;
  align-items: end;
  padding: 0 3px;
}

.menu {
  width: 60px;
  height: 70px;
  background-color: rgb(238, 250, 136);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.window-small {
  height: 75px;
  background-color: #6edcf9;
  border-radius: 20px;
  border-top-right-radius: 35px;
  border-left: solid 15px #46d4fc;
}

button {
  width: 50px;
  padding: 1px 3px 2px;
  border-radius: 2px;
}
