@font-face {
  font-family: myFont;
  src: url(myFontBold.ttf);
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: myFont;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 255, 251);
}

#content {
  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;
}

.board-container {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}

.board {
  align-self: center;
  height: 150px;
  width: 320px;
  background-color: rgb(41, 41, 41);
  border: solid 10px rgba(161, 161, 161, 0.568);
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: rgba(166, 255, 0, 0.6);
}

.resto-name {
  margin-top: 15px;
  padding: 5px;
  font-size: 2.8rem;
  text-shadow: 3px 3px 0px rgba(153, 153, 153, 0.5);
}

.resto-address,
.resto-time,
.resto-phone,
.resto-website {
  font-size: .7rem;
  color: rgba(153, 205, 50, 0.7);
}
.resto-time {
  font-size: .9rem;
  padding: 5px;
}

/* .menu-title {
  color: green;
  font-size: 1.5rem;
  padding: 2px;
  text-shadow: 1px 2px 0px rgba(166, 255, 0, 0.3);
} */

.menu-container {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 padding: 3px;

 overflow: hidden;
}

.menus {
  width: 30%;
  height: 95%;
  padding: 5px;

  display: grid;
  grid-template-rows: 65px 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 3px;
  justify-content: center;
}

.menus-0 {
  border-right: solid 1px rgba(128, 128, 128, 0.2);
}

.menus-2 {
  border-left: solid 1px rgba(128, 128, 128, 0.2);
}


.menu-image {
  grid-column: 1/3;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-name {
  grid-column: 1/2;
}

.menu-price {
  grid-column: 2/3;
  background-color: yellow;
  color: #414356;
  padding: 0 2px;
  border-radius: 5px;
  transform: rotate(10deg);
}

.menu-description {
  grid-column: 1/3;
  font-size: .7rem;
  color: rgba(172, 255, 47, 0.3);
}


.stick-container {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 7px solid rgb(104, 104, 104);
}

.stick-back,
.stick-front {
  height: 10px;
  width: 15px;
  background-color: rgb(184, 184, 184);
  border-top: solid 4px grey;
}

.truck-container {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 400px 75px;
  grid-template-rows: 100px 100px 20px 90px;
  /* background-color: antiquewhite; */
}

.truck-front {
  grid-row: 2/3;
  background-color: #f4615d;
  border-top-right-radius: 75px;

  display: flex;
  justify-content: end;
  align-items: center;
}

.truck-lamp {
  width: 30px;
  height: 20px;
  background-color: rgb(255, 196, 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.truck-body {
  grid-row: 1/3;
  background-color: #f4615d;
  border-top-left-radius: 25px;
  border-top-right-radius: 55px;
  border-left: solid 15px #f85752;
}

.truck-chassis {
  grid-column: 1/3;
  grid-row: 3/4;
  width: 100%;
  background-color: rgb(173, 173, 173);
  border-radius: 10px;
  border-bottom: solid 8px grey;
  transform: scale(1.05);
}

.truck-tire-back {
  grid-row: 4/5;
  grid-column: 1/2;
  transform: translate(35px, -50px);
}

.truck-tire-front {
  grid-row: 4/5;
  grid-column: 2/3;
  transform: translate(-55px, -50px);
}

.truck-tire-front,
.truck-tire-back {
  width: 90px;
  background-color: rgb(218, 218, 218);
  border: solid 25px rgb(90, 86, 86);
  border-radius: 50%;
}

.truck-windows {
  /* background-color: yellowgreen; */
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 25px;
  padding: 25px;
  justify-content: center;
}

.window-large {
  height: 120px;
  background-color: #414356;
  border-right: solid 7px #f4615d;
  border-left: solid 7px #f4615d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 7px 0px #c5c5c5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 3px;
}

.window-top {
  height: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  transform: scale(1.1) translateY(-5px);
}

.roof-0, .roof-2, .roof-4 {
  height: 30px; 
  background-color: green;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.roof-1, .roof-3, .roof-5 {
  height: 30px; 
  background-color: rgb(248, 248, 248);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.window-bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
}

.chef-image {
  width: 90px;
  height: 90px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/745/745449.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(62px);
  transition: transform 10s;
}

.chef-image-active {
  transform: translateY(11px);
  transition: transform .5s;
}

.menu-card {
  width: 60px;
  height: 85px;
  background-color: #F9D468;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.window-small {
  height: 75px;
  background-color: #6edcf9;
  border-radius: 20px;
  border-top-right-radius: 35px;
  border-left: solid 15px #46d4fc;
  transition: height 3s ease-in-out;
}

button {
  opacity: .75;
  font-size: .8rem;
  /* width: 60px; */
  padding: 1px 2px 1px;
  border-radius: 3.5px;
  background-color: yellowgreen;
}

button:hover {
  background-color: lightcyan;
}

/* ANIMATION MENU IN*/

.menus-0, .menus-1, .menus-2 { 
  transform: translateY(0px);
  transition: transform .5s;
}

.menus-1 {
  transition-delay: .3s;
}
.menus-2 {
  transition-delay: .6s;
}

.menus-0-active, .menus-1-active, .menus-2-active {
  transform: translateY(200px);
}
